@import "./../varaibles.scss";

.youngs-favourite {
  margin: 1.5em 0em;
  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    .favourite-card {
      width: 49%;
      overflow: hidden;

      .title-section {
        padding: 0em 1em;
        div {
          font-family: "poppins", sans-serif;
          display: flex;

          .title {
            width: 80%;
            line-height: 1.3em;
            color: $black;
            display: -webkit-box;
            display: -moz-box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            max-height: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }

          .icon {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 20%;
            color: #666666;
            cursor: pointer;
          }
        }
      }

      div {
        img {
          object-position: top;
          object-fit: cover;
          height: 20em;
          width: 100%;
          border-radius: 20px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .main {
      gap: 30px;
      .favourite-card {
        width: 100%;
      }
    }
  }
}
