@import "./../varaibles.scss";



.brands {
  margin: 2em 0px;
  background-color: $yellow;
  .brand-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28vh;
    gap: 30px;
    padding: 0px 50px;
    
    div {
      position: relative;
      top: 10px;
      .img {
        height: 60px;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.brands::-webkit-scrollbar {
  width: 0;
}

.brands::-webkit-scrollbar {
  width: 0;
}


