@import "./../varaibles.scss";

.cards {
  padding: 18px ;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;

  .title-section {
    font-family: "poppins", sans-serif;
    display: flex;

    .title {
      width: 70%;
      line-height: 1.3em;
      color: $black;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      max-height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .icon {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 30%;
      overflow: hidden;
      color: #666666;
      cursor: pointer;
    }
  }
}

@media (max-width: 546px) {
  .cards {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .cards {
    justify-content: space-evenly;
  }
}
