@font-face {
    font-family: 'caveat';
    src: url('./../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype'),
         
  }

  @font-face {
    font-family: 'inter';
    src: url('./../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype'),
         
  }
  
  @font-face {
    font-family: 'open sans';
    src: url('./../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'),
         
  }

  @font-face {
    font-family: 'poppins';
    src: url('./../assets/fonts/Poppins/Poppins-Black.ttf') format('truetype'),
         
  }

  @font-face {
    font-family: 'roboto';
    src: url(./../assets//fonts/Roboto/Roboto-Black.ttf);
  }
