@import "./../varaibles.scss";

.banner {
  @import "../varaibles.scss";

  @font-face {
    font-family: "poppins bold";
    src: url("./../../assets/fonts/Poppins/Poppins-Black.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "poppins";
    src: url("./../../assets/fonts/Poppins/Poppins-Regular.ttf")
      format("truetype");
  }

  .main {
    margin: 20px 0px;
    background-color: $yellow;
    overflow: hidden;
    // hero text section
    .hero-text {
      font-family: "poppins", sans-serif;
      padding: 5rem 0px;
      margin-left: 50px;
      color: $black;

      h1 {
        line-height: 85px;
        font-family: "poppins bold", sans-serif;
        font-size: 4em;
        text-transform: uppercase;
      }
      h1 span:first-child {
        background-color: $white;
      }

      h1 span:nth-child(2) {
        background-color: $light-yellow;
      }
      h1 span:first-child,
      h1 span:nth-child(2) {
        padding: 0px 16px;
      }
      h5 {
        margin-top: 1em;
      }
      .signup-button {
        margin-top: 1em;
        color: $white;
        background-color: $black;
      }
    }

    // hero image section

    @media (max-width: 546px) {
      .hero-text {
        margin: 0;
        h1 {
          line-height: 1.4em;
          font-size: 3em;
        }
      }
    }
    .hero-img {
      position: relative;
      img {
        filter: drop-shadow(120px 50px 40px rgba(0, 0, 0, 0.341));
        overflow: visible;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -10px;
        object-fit: contain;
        object-position: center;
      }
    }
    @media (max-width: 546px) {
      .hero-img {
        display: none;
      }
    }
  }
}
